#submit_button
{
    margin-top: 20px;
    margin-bottom: 20px;
}
#sort_button
{
    margin-top: 20px;
    margin-bottom: 20px;
    display:none;
}
input{
    margin: 10px;
}

.display_with_comas
{
    background:green;
    border-radius:20px;
    border-color:black;
}
.display_without_comas
{
    background:red;
    border-radius:20px;
    border-color:black;
}